---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import Projects from "../components/Projects.astro";
import LinkedInIcon from "../components/icons/linkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import CodeIcon from "../components/icons/Code.astro";
import SocialIcon from "../components/SocialIcon.astro";
import Experience from "../components/Experience.astro";
---

<Layout
  title="Portfolio de Conter - Estudiante de Desarrollo de Software y Scout"
  description="Contrata a Conter para crear tu aplicaci칩n web o m칩vil. Estudiante de Desarrollo de Software y Scout. Especializado en buscar y dar soluciones optimas."
>
  <main class="px-4">
    <section id="SobreMi" class="w-full lg:w-[740px] mx-auto py-44 pb-32">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hey, soy Conter <div class="flex justify-center items-center">
          <Badge>Disponible para trabajar</Badge>
        </div>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span>+2 a침os de experiencia.</span><span class="text-yellow-200/90">
          Estudiante de Desarrollo de Software y Scout.</span
        ><span class="text-red-200/90"> De Tulu치, Colombia.</span><span
          class="opacity-80"
        >
          Especializado en buscar y dar soluciones optimas.</span
        >
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialIcon
          href="https://www.linkedin.com/in/juan-fernando-contreras-ramirez-141908274/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialIcon>
        <SocialIcon href="https://github.com/Elconter420">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialIcon>
        <SocialIcon href="mailto:juanfernandoc52@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          juanfernandoc52@gmail.com
        </SocialIcon>
      </nav>
    </section>

    <section id="Experiencia" class="w-full lg:w-[740px] mx-auto pb-24">
      <h2 class="text-3xl font-semibold mb-8 flex gap-x-2 items-center">
        <Briefcase class="size-7" />
        Experiencia
      </h2>
      <Experience />
    </section>
    <section id="Proyectos" class="w-full lg:w-[740px] mx-auto">
      <h2 class="text-3xl font-semibold mb-8 flex gap-x-2 items-center">
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </section>
  </main>
</Layout>
