<header class="flex items-center py-5 w-full xl:w-[1120px]">
  <img
    class="rounded-full size-12 mx-72"
    src="https://avatars.githubusercontent.com/u/162773965?v=4"
    alt="Conter photo"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#SobreMi">Sobre mi</a>
    <a href="#Experiencia">Experiencia</a>
    <a href="#Proyectos">Proyectos</a>
    <a href="#Contactame">Contactame</a>
  </nav>
</header>
